@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400;700&display=swap');


$font-family-work-sans: 'Work Sans', sans-serif;
$font-family-avenir: 'Avenir Next', sans-serif;


$text-color: #545F7D;
$dark-blue: #213F7D;
$background: #FBFBFB;
$purple: #DF18FF;
$light-blue: #5718FF;
$orange: #F55F44;
$fuchsia: #FF3366;
$red: #E4033B;
$yellow: #E9B200;
$lime: #39CD62;
$cyan: #39CDCC;

%button_shared {
  padding: 14px 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px
}

%input-shared {
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  padding: 17px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $text-color;
  outline: none
}

%sidebar_category_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #545F7D;
  text-transform: uppercase
}

.input {
  @extend %input-shared
}

.button {
  @extend %button_shared;
  background-color: $cyan;
  border: none;
  color: white;
  width: 447px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 19px;
  margin-top: 6px;

}


.login__input {
  @extend %input-shared;
  font-family: $font-family-work-sans;
}

.input__errors {
  color: rgba(255, 0, 0, 0.74);
  font-family: $font-family-work-sans;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 100px;
  gap: 70px;
  font-family: $font-family-work-sans;
}

.container__register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 100px;
  gap: 70px;
  font-family: $font-family-work-sans;
}

.login {
  display: flex;
  gap: 69x;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
}

.logo_image {
  position: absolute;
  padding-left: 30px;
  padding-top: 20px;
}

.login__image_section {
  position: relative;
  width: 40%;
  height: 70vh;
}

.login__image {
  position: absolute;
  width: 100%;
}

.login__form_section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 50%;
}

.login__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.04em;
  color: $dark-blue;
}

.login__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: $text-color;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 447px;
}

.input_group {
  display: flex;
  justify-content: space-between
}

.register__button {
  @extend %button_shared;
  background-color: $cyan;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.login__forgotPassword {
  color: $cyan;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.login__show {
  position: relative;
}

.login__input_showPassword {
  width: 25.625rem;
}

.login__showPassword {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39CDCC;
}

//dashboard
.dashboard {
  background-color: $background;
  font-family: $font-family-work-sans;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 50;
  font-family: $font-family-work-sans;
}

.nav__details {
  width: 73%;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
}

.nav__search {
  border: 1px solid #21407d48;
  border-radius: 8px;
  height: 40px;
  width: 400px;
  display: flex;
}

.nav__input {
  @extend %input-shared;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-family: $font-family-work-sans;
}

.nav__button {
  @extend %button_shared;
  width: 56px;
  background-color: $cyan;
  border: none;
}

.nav__profile {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav__user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container_wrapper {
  display: flex;
  background-color: $background;
}

.sidebar {
  padding: 120px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  width: 15%;
  font-family: $font-family-work-sans;
}

.sidebar_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebarList_category {
  @extend %sidebar_category_title
}

.wrapper {
  background-color: yellow;
  padding: 100px;
}


.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarList__item {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
  text-decoration: none;
  color: $dark-blue;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}


.users {
  padding: 60px;
  margin-top: 100px;
  width: 80%;
  font-family: $font-family-work-sans;
  display: flex;
  flex-direction: column;
  gap: 40px
}

.users__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: $dark-blue;
}

.users__records {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
}

.record {
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.icon_circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}

.user__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-color;
}

.user__count {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $dark-blue;
}


//table
.table {
  border-collapse: collapse;
  width: 100%;
  padding: 30px !important;
  background-color: white;
  margin-top: 40px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.table__heading {
  margin: 10px;
  text-align: left;
}

.table__header {
  padding: 30px;
}

.test {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table__header_name {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $text-color;
}

.table__row {
  border-collapse: collapse;
  padding: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
}

.table__data {
  border-bottom: 1px solid #ddd;
  text-align: left;
  min-height: 50px;
  padding: 0 23px;
  position: relative;
}

.table__button {
  border: none;
  background-color: white;
}

.table__row_button {
  border: none;
  background-color: white;
}

.table__options {
  right: 30px;
  margin-top: 15px;
  background-color: white;
  padding: 20px;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  width: 130px;
  z-index: 50;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.options__link {
  color: $text-color;
  text-decoration: none;
}

.options__button {
  border: none;
  display: flex;
  gap: 10px;
  background-color: white;
  font-weight: 500;
  font-size: 14px;
  font-family: $font-family-work-sans;
  line-height: 16px;
  text-decoration: none;
  color: #545F7D;
}

.filter {
  padding: 30px 20px;
  background-color: white;
  width: 230px;
  position: absolute;
  z-index: 50;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter__item_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
}

.filter__input {
  @extend %input-shared;
  width: 80%;
  padding: 12px 20px;
}

.filter__buttons {
  display: flex;
  justify-content: space-between
}

.reset_button {
  @extend %button_shared;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: $text-color;
  width: 98px;
  border: 1px solid #545F7D;
  background-color: white
}

.filter_button {
  @extend %button_shared;
  background-color: $cyan;
  border: none;
  padding: 12px 30px;
  width: 98px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}


//user details

.users__back {
  display: flex;
  align-items: center;
  gap: 15px;
}

.users__back {
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
  }
}

.user__details {
  display: flex;
  flex-direction: column;
  gap: 46px
}

.user__actions {
  display: flex;
  justify-content: space-between;
}

.user__actions {
  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $dark-blue;
  }
}

.user__actions_buttons {
  display: flex;
  gap: 20px
}

.user__blacklist {
  @extend %button_shared;
  border: 1px solid #E4033B;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  background-color: $background;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $red;
}

.user__activate {
  border: 1px solid #39CDCC;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 16px;
  background-color: $background;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $cyan;
}

.user__info {
  background-color: white;
  padding: 30px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.user__info_details {
  display: flex;
  align-items: center;
}

.user__info_identity {
  display: flex;
  gap: 20px;
  align-items: center;
  border-right: 1px solid #545f7d3b;
  padding-right: 30px;
}

.user__info_names {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user__info_names {
  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: $dark-blue;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
  }
}

.user__info_profile {
  background-color: #21407d54;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
}

.user__info_tier {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #545f7d3b;
  gap: 12px;
  padding: 0 30px
}

.user__info_tier {
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $text-color;
  }

  div {
    display: flex;
    gap: 6px;
  }
}

.user__info_account {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 30px
}

.user__info_account {
  h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: $dark-blue;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $dark-blue;
  }
}

.user__info_nav {
  display: flex;
  justify-content: space-between;
}

.user__info_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.user__fulldetails {
  background-color: white;
  padding: 0 30px;
  padding-bottom: 46px;
}

.user__info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid #21407d3b;
  padding: 30px 0;
}

.user__info_wrapper {
  h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $dark-blue;
  }
}

.personal_info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.personal_info {
  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $text-color;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $text-color;
  }
}