@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400;700&display=swap');


$font-family-work-sans: 'Work Sans', sans-serif;
$font-family-avenir: 'Avenir Next', sans-serif;


$text-color: #545F7D;
$dark-blue: #213F7D;
$background: #FBFBFB;
$purple: #DF18FF;
$light-blue: #5718FF;
$orange: #F55F44;
$fuchsia: #FF3366;
$red: #E4033B;
$yellow: #E9B200;
$lime: #39CD62;
$cyan: #39CDCC;

%button_shared {
  padding: 0.875rem 0;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.5rem
}

%input-shared {
  border: 0.125rem solid rgba(84, 95, 125, 0.15);
  border-radius: 0.3125rem;
  padding: 1.0625rem 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: $text-color;
  outline: none
}

%sidebar_category_title {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #545F7D;
  text-transform: uppercase
}

.input {
  @extend %input-shared
}

.button {
  @extend %button_shared;
  background-color: $cyan;
  border: none;
  color: white;
  width: 27.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.1875rem;
  margin-top: 0.375rem;

}


.login__input {
  @extend %input-shared;
  font-family: $font-family-work-sans;
}

.input__errors {
  color: rgba(255, 0, 0, 0.74);
  font-family: $font-family-work-sans;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 6.25rem;
  gap: 4.375rem;
  font-family: $font-family-work-sans;
}

.container__register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 6.25rem;
  gap: 4.375rem;
  font-family: $font-family-work-sans;
}

.login {
  display: flex;
  gap: 69x;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
}

.logo_image {
  position: absolute;
  padding-left: 1.875rem;
  padding-top: 1.25rem;
}

.login__image_section {
  position: relative;
  width: 40%;
  height: 70vh;
  display: flex;
  align-items: center;
}

.login__image {
  position: absolute;
  width: 100%;
  margin-top: 3.125rem;
}

.login__form_section {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  width: 50%;
}

.login__content {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.login__heading {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.4375rem;
  letter-spacing: -0.04em;
  color: $dark-blue;
}

.login__description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  color: $text-color;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  width: 27.9375rem;
}

.input_group {
  display: flex;
  justify-content: space-between
}

.register__button {
  @extend %button_shared;
  background-color: $cyan;
  border: none;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.login__forgotPassword {
  color: $cyan;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

.login__show {
  position: relative;
}

.login__input_showPassword {
  width: 25.625rem;
}

.login__showPassword {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39CDCC;
}

//dashboard
.dashboard {
  background-color: $background;
  font-family: $font-family-work-sans;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.875rem;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 50;
  font-family: $font-family-work-sans;

}

.menu {
  background-color: white;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  border: 0.0625rem solid #21407d48;
  box-shadow: #21407d3b;
  position: absolute;
  right: 8.125rem;
  margin-top: 0.625rem;

}

.menu {
  p {
    color: $dark-blue;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
  }
}

.nav__details {
  width: 73%;
  margin-right: 6.25rem;
  display: flex;
  justify-content: space-between;
}

.nav__search {
  border: 0.0625rem solid #21407d48;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 25rem;
  display: flex;
}

.nav__input {
  @extend %input-shared;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  font-family: $font-family-work-sans;
}

.nav__button {
  @extend %button_shared;
  width: 3.5rem;
  background-color: $cyan;
  border: none;
}

.nav__profile {
  display: flex;
  gap: 3.125rem;
  align-items: center;
}

.nav__user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container_wrapper {
  display: flex;
  background-color: $background;
}

.sidebar {
  padding: 7.5rem 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  background-color: white;
  width: 15%;
  font-family: $font-family-work-sans;
}

.sidebar_section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.sidebarList_category {
  @extend %sidebar_category_title
}

.wrapper {
  background-color: yellow;
  padding: 6.25rem;
}


.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.sidebarList__item {
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem 0;
  align-items: center;
  text-decoration: none;
  color: $dark-blue;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
}


.users {
  padding: 3.75rem;
  margin-top: 6.25rem;
  width: 80%;
  font-family: $font-family-work-sans;
  display: flex;
  flex-direction: column;
  gap: 2.5rem
}

.users__title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: $dark-blue;
}

.users__records {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.875rem;
  width: 100%;
}

.record {
  background: #FFFFFF;
  border: 0.0625rem solid rgba(33, 63, 125, 0.06);
  box-shadow: 0.1875rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.icon_circle {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
}

.user__title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: $text-color;
}

.user__count {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: $dark-blue;
}


//table
.table {
  border-collapse: collapse;
  width: 100%;
  padding: 1.875rem !important;
  background-color: white;
  margin-top: 2.5rem;
  border: 0.0625rem solid rgba(33, 63, 125, 0.06);
  box-shadow: 0.1875rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
}

.table__heading {
  margin: 0.625rem;
  text-align: left;
}

.table__header {
  padding: 1.875rem;
}

.test {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.table__header_name {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: $text-color;
}

.table__row {
  border-collapse: collapse;
  padding: 1.4375rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $text-color;
}

.table__data {
  border-bottom: 0.0625rem solid #ddd;
  text-align: left;
  min-height: 3.125rem;
  padding: 0 1.4375rem;
  position: relative;
}

.table__data_status {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 6.25rem;
  width: 6.25rem;
  height: 1.875rem;
  padding: 0.275rem 0.375rem;
  display: grid;
  place-content: center;
}

.table__button {
  border: none;
  background-color: white;

}

.table__row_button {
  border: none;
  background-color: white;
}

.table__options {
  right: 1.875rem;
  margin-top: 0.9375rem;
  background-color: white;
  padding: 1.25rem;
  border: 0.0625rem solid rgba(84, 95, 125, 0.04);
  box-shadow: 0.1875rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  width: 8.125rem;
  z-index: 50;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}

.options__link {
  color: $text-color;
  text-decoration: none;
}

.options__button {
  border: none;
  display: flex;
  gap: 0.625rem;
  background-color: white;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: $font-family-work-sans;
  line-height: 1rem;
  text-decoration: none;
  color: #545F7D;
}

.filter {
  padding: 1.875rem 1.25rem;
  background-color: white;
  width: 14.375rem;
  position: absolute;
  z-index: 50;
  border: 0.0625rem solid rgba(84, 95, 125, 0.14);
  box-shadow: 0.1875rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.filter__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.filter__item_name {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $text-color;
}

.filter__input {
  @extend %input-shared;
  width: 80%;
  padding: 0.75rem 1.25rem;
}

.filter__buttons {
  display: flex;
  justify-content: space-between
}

.reset_button {
  @extend %button_shared;
  padding: 0.75rem 1.875rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  color: $text-color;
  width: 6.125rem;
  border: 0.0625rem solid #545F7D;
  background-color: white
}

.filter_button {
  @extend %button_shared;
  background-color: $cyan;
  border: none;
  padding: 0.75rem 1.875rem;
  width: 6.125rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #FFFFFF;
}


//user details

.users__back {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.users__back {
  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #545F7D;
  }
}

.user__details {
  display: flex;
  flex-direction: column;
  gap: 2.875rem
}

.user__actions {
  display: flex;
  justify-content: space-between;
}

.user__actions {
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $dark-blue;
  }
}

.user__actions_buttons {
  display: flex;
  gap: 1.25rem
}

.user__blacklist {
  @extend %button_shared;
  border: 0.0625rem solid #E4033B;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  background-color: $background;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $red;
}

.user__activate {
  border: 0.0625rem solid #39CDCC;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0.75rem 1rem;
  background-color: $background;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $cyan;
}

.user__info {
  background-color: white;
  padding: 1.875rem;
  border: 0.0625rem solid rgba(33, 63, 125, 0.06);
  box-shadow: 0.1875rem 0.3125rem 1.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.user__info_details {
  display: flex;
  align-items: center;
}

.user__info_identity {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  border-right: 0.0625rem solid #545f7d3b;
  padding-right: 1.875rem;
}

.user__info_names {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user__info_names {
  h3 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.625rem;
    color: $dark-blue;
  }

  p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $text-color;
  }
}

.user__info_profile {
  background-color: #21407d54;
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
  display: grid;
  place-content: center;
}

.user__info_tier {
  display: flex;
  flex-direction: column;
  border-right: 0.0625rem solid #545f7d3b;
  gap: 0.75rem;
  padding: 0 1.875rem
}

.user__info_tier {
  p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $text-color;
  }

  div {
    display: flex;
    gap: 0.375rem;
  }
}

.user__info_account {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 1.875rem
}

.user__info_account {
  h3 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.625rem;
    color: $dark-blue;
  }

  p {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: $dark-blue;
  }
}

.user__info_nav {
  display: flex;
  justify-content: space-between;
}

.user__info_link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.user__fulldetails {
  background-color: white;
  padding: 0 1.875rem;
  padding-bottom: 2.875rem;
}

.user__info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  border-bottom: 0.0625rem solid #21407d3b;
  padding: 1.875rem 0;
}

.user__info_wrapper {
  h1 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $dark-blue;
  }
}

.personal_info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.875rem;

}

.personal_info {
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h3 {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    text-transform: uppercase;
    color: $text-color;
  }

  p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $text-color;
  }
}

.table_menu{
  display: none;
}

//pagination

.paginate{
  display: flex;
  justify-content: space-between;
}
.paginate__pages{
  display: flex;
  gap: 0.9375rem;
}
.paginate__page{
  border: none;
  background-color: $background;
  color: $text-color;
  font-size: 1rem;
}

.nextPrev{
  background-color: #213F7D1A;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}


//respoonsiveness

@media (max-width: 36rem) {
  .table_menu{
    display: block;
  }

  //login and register
  .container {
    width: 100%;
    padding: 5rem 3rem;
  }

  .container__register {
    width: 100%;
    padding: 10rem 3rem;
  }
.input_group{
  flex-direction: column;
  gap: 0.625rem;
}
.input_group{
  .login__input{
    width: 89%;
  }
}
  .login {
    flex-direction: column-reverse;
    width: 100%;
    
  }

  .login__image_section {
    width: 100%;
    height: 30vh;
  }

  .login__form_section {
    width: 100%;
  }

  .login__form {
    width: auto;
  }
  .logo_image{
    padding: 0 ;
  }

  .login__input_showPassword {
    width: 89%;
  }

  //dashboard

  .container_wrapper{
    // background-color: yellow;
    width: 100%;
  }
  .sidebar{
    padding:  1.25rem;
    width: 50%;
    position: absolute;
    background-color: white;
    z-index: 50;
  }
  .nav__profile {
    gap: 0.625rem;
  }


  .nav__search {
    width: 12.5rem;
  }

  .users__records{
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

  }

  .user__title{
    font-size: 0.75rem;
  }

  .user__count{
    font-size: 1.25rem;
  }

  .table__heading {
 display: flex;
 overflow-x: scroll;
 width: 15rem;
 padding: 0;
  }

  .table__header{
    padding: 0 1rem;
  }
  .table__data{
    display: flex;
    align-items: center;
    border: none;
    
  }

  .table__body{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
  }
  .table__row_mobile{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
padding : 0;
  }
  .record{
    padding: 15px;
  }

  .users{
    padding: 1.875rem;
  }
  .scroll__table{
    overflow-x: auto;

  }
  .table{
    overflow: scroll;
    width: 10rem;
  }
  .personal_info {
    display: flex;
    flex-direction: column;
  }

  .user__details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .user__info_profile {
    width: 6.25rem;
    height: 3.75rem;
  }

  .user__info_details {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .user__info_nav {
    overflow-y: scroll;
  }

.user__actions{
  flex-direction: column;
}
}


@media (min-width: 36rem) and (max-width: 47.9375rem) {
  .table_menu{
    display: block;
  }

  .container {
    width: 100%;
    padding: 5rem 5rem;
  }

  .container__register {
    width: 100%;
    padding: 10rem 3rem;
  }
.input_group{
  flex-direction: column;
  gap: 0.625rem;
}
.input_group{
  .login__input{
    width: 89%;
  }
}
  .login {
    // flex-direction: column-reverse;
    width: 100%;
    
  }

  .login__image_section {
    width: 100%;
  }

  .login__form_section {
    width: 100%;
  }

  .login__form {
    width: auto;
  }
  .logo_image{
    padding: 0 ;
  }

  .login__input_showPassword {
    width: 89%;
  }
}


@media (min-width: 768px) and (max-width: 991px) { 
  .scroll__table{
    overflow-x: auto;
  }
  .users__records{
    grid-template-columns: repeat(2, 1fr);

  }
  .table__heading {
    display: flex;
    overflow-x: scroll;
    width: 20rem;
    padding: 0;
     }
   
     .table__header{
       padding: 0 1rem;
     }
     .table__data{
       display: flex;
       align-items: center;
       border: none;
       
     }
   
     .table__body{
       display: flex;
       flex-direction: column;
       border-bottom: 1px solid #ddd;
     }
     .table__row_mobile{
       display: flex;
       flex-direction: column;
       border-bottom: 1px solid #ddd;
       margin-bottom: 2rem;
   padding : 0;
     }
  .record{
  }
 }

 @media (min-width: 992px) and (max-width: 1199px) 
 { 
  .scroll__table{
    width: 45rem;
    overflow-x: auto;
  }

  }
